<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CommercialConnection" 
         connectionString="Data Source=PC2023\PC2023;Initial Catalog=myDB;Integrated Security=true;" 
         providerName="System.Data.SqlClient"/>

    <add name="CommercialConnection2"
         connectionString="Server=127.0.0.1;Port=5432;Database=myDB;User Id=postgres;Password=test;"
         providerName="Npgsql"/>
  </connectionStrings>
</configuration>