<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <!--Si vous vouez acceder à sql server definissez value à 0 si vous voulez acceder à my sql définisser value à 1--> 
    <add key="dbtype" value="0"/>
  </appSettings>
</configuration>